header {
    .toolbar-md {
        min-height: 45px;
    }
    .customTopHeader {
        // height: 50px;
        // background: orangered;
    }
    .toolbar-md {
        padding: 0px;
    }
    .toolbar-ios {
        padding: 10px 0 10px 0;
        min-height: 50px;
        border-bottom: none !important;
    }
    .header-ios {
        height: 50px;
    }
    .topHeader {
        position: relative;
        text-align: center;
        .logo {
            margin: 0px 55px 0 0;
            padding: 2px 0 0 0;
        }
        ion-icon {
            position: absolute;
            top: 8px;
            font-size: 22px;
            color: rgba(0, 0, 0, 0.6);
            right: 16px;
        }
    }
    .toolbar-background {
        background: yellowgreen;
    }
}